/* Initial Setup */
html body {
    overflow-x: hidden;
    margin: 0;
}

.page {
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
/* Initial Setup */

/* Nav Bar */
.titleBehindD {
    z-index: 1;
    color: rgb(139, 123, 103);
    font-family: 'Dancing Script';
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 590px;
    top: 45px;
    cursor: pointer;
}

.titleBehindP {
    z-index: 2;
    color: rgb(139, 123, 103);
    font-family: 'Dancing Script';
    font-size: 55px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 600px;
    top: 68px;
    cursor: pointer;
}

.title {
    z-index: 2;
    margin-bottom: 5px;
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;
}

.subtitle {
    z-index: 2;
    margin-top: 0px;
    font-size: 20px;
    font-family: serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.categories-box {
    margin-left: 25%;
    margin-right: 25%;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 47px;
    margin-bottom: 35px;
}

.categories h2 {
    margin-right: 50px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: 0.4s;
}

.categories h2:hover {
    color: rgb(139, 123, 103);
    cursor: pointer;
    transition: 0.2s;
}

.titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.leftBarBox {
    display: flex;
    flex-direction: row;
}

.leftBar {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 50px;
}

.vegan {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 25px;
}

.searchCart {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.searchBar {
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border: solid 2px gray;
}

.cart {
    z-index: 2;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.5s;
}

.cart:hover {
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.cartQuantity {
    z-index: 1;
    margin-left: 10px;
    font-weight: bold;
    background-color: rgb(199, 77, 77);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}

.search {
    z-index: 2;
    width: 25px;
    height: 25px;
    padding: 3px;
    padding-top: 4px;
    margin-top: 10px;
    margin-right: -2px;
    border: solid 2px gray;
}
/* Nav Bar */

/* Home-screen Carousel */
.carousel {
    width: 100vw;
    height: 68vh;
    position: relative;
    right: 1%;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
}

.slide img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index:1;
    transition-delay: 0ms;
}

.carousel button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY (-50%);
    color: rgb(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgb(0, 0, 0, .1);
}

.carousel button:hover {
    color: white;
    background-color: rgb(0, 0, 0, .2)
}

.carousel button.prev {
    left: 1rem;
}

.carousel button.next {
    right: 1rem;
}
/* Home-screen Carousel */

/* Home-screen Selection Section*/
.selectionTitleBehind {
    z-index: 1;
    color: rgb(139, 123, 103);
    font-family: 'Dancing Script';
    font-size: 50px;
    margin-bottom: -40px;
}

.selectionTitle {
    z-index: 2;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
}

.selectionIMG {
    width: 300px;
    height: 300px;
    border: solid 4px rgb(139, 123, 103);
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.selectionIMG:hover {
    width: 320px;
    height: 320px;
    border: solid 4px rgb(139, 123, 103);
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: -5px;
    cursor: pointer;
    transition: 0.5s;
}

.selectionChoicesTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
}

.selectionChoicesBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
}

.selectionName {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    transition: 0.4s;
}

.selectionName:hover {
    color: rgb(139, 123, 103);
    cursor: pointer;
    transition: 0.2s;
}
/* Home-screen Selection Section*/

/* Home-screen WheretoFind Section*/
.whereFindSection {
    background-color: rgb(253, 249, 244);
}

.whereFindTitles {
    padding-top: 1px;
}

.whereFindTitleBehind {
    z-index: 1;
    color: rgb(139, 123, 103);
    font-family: 'Dancing Script';
    font-size: 50px;
    margin-bottom: -40px;
}

.whereFindParagraphs {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 5px;
}

.whereFindParagraphs2 {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
}

.whereFindParagraphs2 p {
    font-size: 19px;
}

.whereFindParagraphs p {
    font-size: 19px;
}
/* Home-screen WheretoFind Section*/

/* Footer*/
.footer {
    background-color: rgb(224, 212, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer h1 {
    font-size: 25px;
}

.footerInsta {
    display: flex;
    flex-direction: row;
}

.instagram {
    width: 30px;
    height: 30px;
    margin-top: 18px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.instagram:hover {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-right: -5px;
    transition: 0.2s;
}
/* Footer*/

/* Product Type Section */
.sectionTitle {
    color: black;
    font-family: 'Dancing Script';
    font-size: 40px;
}

.sectionBar {
    background-color: rgb(224, 212, 197);
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}
.sectionHeadingHome {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sectionHeading {
    margin-left: 10px;
    font-size: 20px;
}

.sectionImages {
    margin-bottom: 60px;
}

.sectionIMG {
    width: 280px;
    height: 280px;
    border: solid 4px rgb(139, 123, 103);
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.sectionIMG:hover {
    width: 300px;
    height: 300px;
    border: solid 4px rgb(139, 123, 103);
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: -5px;
    cursor: pointer;
    transition: 0.5s;
}

.sectionImagesTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -40px;
}

.sectionImagesBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -10px;
}
/* Product Type Section */

/* Product Desc Section */
.itemName {
    font-size: 18px;
    letter-spacing: 2px;
}

.itemPrice {
    font-size: 18px;
    letter-spacing: 2px;
}

.itemDesc {
    font-size: 20px;
}

.productWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-bottom: 5%;
}

.productImageSection {
    margin-right: 10%;
}

.productIMG {
    width: 400px;
    height: 400px;
    border: solid 4px rgb(139, 123, 103);
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.addSubtCart {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 40px;
}

.subtButton {
    cursor: pointer;
    border: solid 1px black;
    padding: 5px;
    width: 30px;
    font-size: 25px;
    background-color: white;
}

.quantity {
    border: solid 1px black;
    height: 36px;
    width: 10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-size: 18px;
}

.addButton {
    cursor: pointer;
    border: solid 1px black;
    padding: 5px;
    width: 30px;
    font-size: 25px;
    background-color: white;
}

.addCartButton {
    margin-left: 20px;
    background-color: rgb(185, 164, 139);
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.addCartButton:hover {
    background-color: white;
    color: rgb(139, 123, 103);
    transition: 0.5s;
    border-color: rgb(139, 123, 103);
}

.productDescSection {
    width: 400px;
    align-items: center;
}
/* Product Desc Section */

/* Cart */
.cartTable {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: solid 2px black;
    justify-content: space-around;
}

.cartTable h1 {
    margin-left: 26px;
    margin-right: 26px;
    font-size: 25px;
}

.cartImageTitle {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.addSubtCart2 {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 20px;
}

.cartTableProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
}

.cartItemName {
    font-size: 25px;
}

.cartImage {
    width: 150px;
    height: 150px;
    border: solid 4px rgb(139, 123, 103);
    border-radius: 20px;
    margin-top: 20px;
}

.cancel {
    margin-top: 80px;
    cursor: pointer;
    height: 20px;
}

.cancel:hover {
    color: rgb(104, 101, 76);
}

.cartTotalBox {
    border: solid 12px rgb(233, 223, 210);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 50px;
}

.cartTotalHeader {
    border-bottom: solid 4px rgb(233, 223, 210);
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.procedeButton {
    margin-top: 20px;
    background-color: rgb(185, 164, 139);
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
}

.procedeButton:hover {
    background-color: white;
    color: rgb(139, 123, 103);
    transition: 0.5s;
    border-color: rgb(139, 123, 103);
}
/* Cart */

/* Client Info */
.clientInfoBox {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstInfoColumn {
    display: flex;
    flex-direction: column;
}

.secondInfoColumn {
    display: flex;
    flex-direction: column;
}

.clientInfoLabel {
    margin-top: 20px;
}

.clientInfoInput {
    margin-bottom: 20px;
}
/* Client Info */